package org.magicwerk.brownies.collections.primitive;

import org.magicwerk.brownies.collections.primitive.NAMETYPEGapList;
import org.magicwerk.brownies.collections.GapList;

import java.util.Collection;
import java.util.Comparator;
import java.util.Iterator;

public class NAMETYPEObjGapList extends GapList<WRAPPERTYPE> {

	private NAMETYPEGapList list;

	static WRAPPERTYPE[] toWrapper(SIMPLETYPE[] elems) {
		WRAPPERTYPE[] e = new WRAPPERTYPE[elems.length];
		for (int i = 0; i < e.length; i++) {
			e[i] = elems[i];
		}
		return e;
	}

	static SIMPLETYPE[] toPrimitive(WRAPPERTYPE[] elems) {
		SIMPLETYPE[] e = new SIMPLETYPE[elems.length];
		for (int i = 0; i < e.length; i++) {
			e[i] = elems[i];
		}
		return e;
	}

	static SIMPLETYPE[] toPrimitive(GapList<? extends WRAPPERTYPE> list2) {
		SIMPLETYPE[] e = new SIMPLETYPE[list2.size()];
		for (int i = 0; i < e.length; i++) {
			e[i] = list2.get(i);
		}
		return e;
	}

	static SIMPLETYPE[] toPrimitive(Collection<? extends WRAPPERTYPE> list) {
		SIMPLETYPE[] e = new SIMPLETYPE[list.size()];
		Iterator<? extends WRAPPERTYPE> iter = list.iterator();
		for (int i = 0; i < e.length; i++) {
			e[i] = iter.next();
		}
		return e;
	}

	public static NAMETYPEObjGapList create() {
		return new NAMETYPEObjGapList();
	}

	public static NAMETYPEObjGapList create(int capacity) {
		return new NAMETYPEObjGapList(capacity);
	}

	public static NAMETYPEObjGapList create(WRAPPERTYPE... elems) {
		return new NAMETYPEObjGapList(elems);
	}

	public static NAMETYPEObjGapList create(Collection<? extends WRAPPERTYPE> elems) {
		return new NAMETYPEObjGapList(elems);
	}

	public NAMETYPEObjGapList() {
		super(false, null);
		list = new NAMETYPEGapList();
	}

	public NAMETYPEObjGapList(int capacity) {
		super(false, null);
		list = new NAMETYPEGapList(capacity);
	}

	public NAMETYPEObjGapList(WRAPPERTYPE... elems) {
		super(false, null);
		list = new NAMETYPEGapList(toPrimitive(elems));
	}

	public NAMETYPEObjGapList(Collection<? extends WRAPPERTYPE> elems) {
		super(false, null);
		list = new NAMETYPEGapList(toPrimitive(elems));
	}

	@Override
	public Object clone() {
		NAMETYPEObjGapList list = (NAMETYPEObjGapList) super.clone();
		list.list = (NAMETYPEGapList) list.list.clone();
		return list;
	}

	@Override
	public NAMETYPEObjGapList copy() {
		return (NAMETYPEObjGapList) clone();
	}

	@Override
	public void clear() {
		list.clear();
	}

	@Override
	public int size() {
		return list.size();
	}

	@Override
	public int capacity() {
		return list.capacity();
	}

	@Override
	public WRAPPERTYPE get(int index) {
		return list.get(index);
	}

	@Override
	public WRAPPERTYPE set(int index, WRAPPERTYPE elem) {
		return list.set(index, elem);
	}

	@Override
	public boolean add(WRAPPERTYPE elem) {
		return list.add(elem);
	}

	@Override
	public void add(int index, WRAPPERTYPE elem) {
		list.add(index, elem);
	}

	@Override
	public WRAPPERTYPE remove(int index) {
		return list.remove(index);
	}

	@Override
	public void ensureCapacity(int minCapacity) {
		list.ensureCapacity(minCapacity);
	}

	@Override
	public void trimToSize() {
		list.trimToSize();
	}

	@Override
	public boolean equals(Object obj) {
		return list.equals(obj);
	}

	@Override
	public int hashCode() {
		return list.hashCode();
	}

	@Override
	public String toString() {
		return list.toString();
	}

	@Override
	public boolean isEmpty() {
		return list.isEmpty();
	}

	@Override
	public int indexOf(Object elem) {
		if (elem == null || elem.getClass() != WRAPPERTYPE.class) {
			return -1;
		}
		return list.indexOf((WRAPPERTYPE) elem);
	}

	@Override
	public int lastIndexOf(Object elem) {
		if (elem == null || elem.getClass() != WRAPPERTYPE.class) {
			return -1;
		}
		return list.lastIndexOf((WRAPPERTYPE) elem);
	}

	@Override
	public boolean remove(Object elem) {
		if (elem == null || elem.getClass() != WRAPPERTYPE.class) {
			return false;
		}
		int index = list.indexOf((WRAPPERTYPE) elem);
		if (index == -1) {
			return false;
		}
		list.remove(index);
		return true;
	}

	@Override
	public boolean contains(Object elem) {
		if (elem == null || elem.getClass() != WRAPPERTYPE.class) {
			return false;
		}
		return list.contains((WRAPPERTYPE) elem);
	}

	@Override
	public boolean containsAny(Collection<?> coll) {
		return list.containsAny((Collection<WRAPPERTYPE>) coll);
	}

	@Override
	public boolean containsAll(Collection<?> coll) {
		return list.containsAll((Collection<WRAPPERTYPE>) coll);
	}

	@Override
	public boolean removeAll(Collection<?> coll) {
		return list.removeAll((Collection<WRAPPERTYPE>) coll);
	}

	@Override
	public boolean removeAll(GapList<?> coll) {
		return list.removeAll((Collection<WRAPPERTYPE>) coll);
	}

	@Override
	public boolean retainAll(Collection<?> coll) {
		return list.retainAll((Collection<WRAPPERTYPE>) coll);
	}

	@Override
	public boolean retainAll(GapList<?> coll) {
		return list.retainAll((Collection<WRAPPERTYPE>) coll);
	}

	@Override
	public Object[] toArray() {
		SIMPLETYPE[] elems = list.toArray();
		return toWrapper(elems);
	}

	@Override
	public Object[] toArray(int index, int len) {
		SIMPLETYPE[] elems = list.toArray(index, len);
		return toWrapper(elems);
	}

	@Override
	public <T> T[] toArray(T[] array) {
		int size = list.size();
		if (array.length < size) {
			array = (T[]) java.lang.reflect.Array.newInstance(array.getClass().getComponentType(), size);
		}
		for (int i = 0; i < size; i++) {
			array[i] = (T) (WRAPPERTYPE) list.get(i);
		}
		if (array.length > size) {
			array[size] = null;
		}
		return array;
	}

	@Override
	public boolean addAll(Collection<? extends WRAPPERTYPE> coll) {
		return list.addAll((Collection<WRAPPERTYPE>) coll);
	}

	@Override
	public boolean addAll(int index, Collection<? extends WRAPPERTYPE> coll) {
		return list.addAll(index, (Collection<WRAPPERTYPE>) coll);
	}

	@Override
	public boolean addAll(WRAPPERTYPE... elems) {
		SIMPLETYPE[] e = toPrimitive(elems);
		return list.addAll(e);
	}

	@Override
	public boolean addAll(int index, WRAPPERTYPE... elems) {
		SIMPLETYPE[] e = toPrimitive(elems);
		return list.addAll(index, e);
	}

	@Override
	public boolean addAll(GapList<? extends WRAPPERTYPE> list2) {
		SIMPLETYPE[] e = toPrimitive(list2);
		return list.addAll(e);
	}

	@Override
	public boolean addAll(int index, GapList<? extends WRAPPERTYPE> list2) {
		SIMPLETYPE[] e = toPrimitive(list2);
		return list.addAll(index, e);
	}

	@Override
	public WRAPPERTYPE getFirst() {
		return list.getFirst();
	}

	@Override
	public WRAPPERTYPE getLast() {
		return list.getLast();
	}

	@Override
	public void addFirst(WRAPPERTYPE elem) {
		list.addFirst(elem);
	}

	@Override
	public void addLast(WRAPPERTYPE elem) {
		list.addLast(elem);
	}

	@Override
	public WRAPPERTYPE removeFirst() {
		return list.removeFirst();
	}

	@Override
	public WRAPPERTYPE removeLast() {
		return list.removeLast();
	}

	@Override
	public WRAPPERTYPE peek() {
		return list.peek();
	}

	@Override
	public WRAPPERTYPE element() {
		return list.element();
	}

	@Override
	public WRAPPERTYPE poll() {
		return list.poll();
	}

	@Override
	public WRAPPERTYPE remove() {
		return list.remove();
	}

	@Override
	public boolean offer(WRAPPERTYPE elem) {
		return list.offer(elem);
	}

	@Override
	public boolean offerFirst(WRAPPERTYPE elem) {
		return list.offerFirst(elem);
	}

	@Override
	public boolean offerLast(WRAPPERTYPE elem) {
		return list.offerLast(elem);
	}

	@Override
	public WRAPPERTYPE peekFirst() {
		return list.peekFirst();
	}

	@Override
	public WRAPPERTYPE peekLast() {
		return list.peekLast();
	}

	@Override
	public WRAPPERTYPE pollFirst() {
		return list.pollFirst();
	}

	@Override
	public WRAPPERTYPE pollLast() {
		return list.pollLast();
	}

	@Override
	public WRAPPERTYPE pop() {
		return list.pop();
	}

	@Override
	public void push(WRAPPERTYPE elem) {
		list.push(elem);
	}

	@Override
	public boolean removeFirstOccurrence(Object elem) {
		if (elem == null || elem.getClass() != WRAPPERTYPE.class) {
			return false;
		}
		return list.removeFirstOccurrence((WRAPPERTYPE) elem);
	}

	@Override
	public boolean removeLastOccurrence(Object elem) {
		if (elem == null || elem.getClass() != WRAPPERTYPE.class) {
			return false;
		}
		return list.removeLastOccurrence((WRAPPERTYPE) elem);
	}

	@Override
	public GapList<WRAPPERTYPE> get(int index, int len) {
		SIMPLETYPE[] elems = list.getArray(index, len);
		return GapList.create(toWrapper(elems));
	}

	@Override
	public WRAPPERTYPE[] getArray(int index, int len) {
		SIMPLETYPE[] elems = list.getArray(index, len);
		return toWrapper(elems);
	}

	@Override
	public void setAll(int index, GapList<? extends WRAPPERTYPE> list2) {
		SIMPLETYPE[] e = toPrimitive(list2);
		list.setAll(index, e);
	}

	@Override
	public void setAll(int index, Collection<? extends WRAPPERTYPE> coll) {
		SIMPLETYPE[] e = toPrimitive(coll);
		list.setAll(index, e);
	}

	@Override
	public void setAll(int index, WRAPPERTYPE... elems) {
		SIMPLETYPE[] e = toPrimitive(elems);
		list.setAll(index, e);
	}

	@Override
	public void remove(int index, int len) {
		list.remove(index, len);
	}

	@Override
	public void init(int len, WRAPPERTYPE elem) {
		list.init(len, elem);
	}

	@Override
	public void resize(int len, WRAPPERTYPE elem) {
		list.resize(len, elem);
	}

	@Override
	public void fill(WRAPPERTYPE elem) {
		list.fill(elem);
	}

	@Override
	public void fill(int index, int len, WRAPPERTYPE elem) {
		list.fill(index, len, elem);
	}

	@Override
	public void copy(int srcIndex, int dstIndex, int len) {
		list.copy(srcIndex, dstIndex, len);
	}

	@Override
	public void move(int srcIndex, int dstIndex, int len) {
		list.move(srcIndex, dstIndex, len);
	}

	@Override
	public void reverse() {
		list.reverse();
	}

	@Override
	public void reverse(int index, int len) {
		list.reverse(index, len);
	}

	@Override
	public void swap(int index1, int index2, int len) {
		list.swap(index1, index2, len);
	}

	@Override
	public void rotate(int distance) {
		list.rotate(distance);
	}

	@Override
	public void rotate(int index, int len, int distance) {
		list.rotate(index, len, distance);
	}

	@Override
	public void sort(Comparator comparator) {
		if (comparator != null) {
			throw new IllegalArgumentException("Only natural comparator (null) allowed");
		}
		list.sort();
	}

	@Override
	public void sort(int index, int len, Comparator comparator) {
		if (comparator != null) {
			throw new IllegalArgumentException("Only natural comparator (null) allowed");
		}
		list.sort(index, len);
	}

	@Override
	public <K> int binarySearch(K key, Comparator<? super K> comparator) {
		if (comparator != null) {
			throw new IllegalArgumentException("Only natural comparator (null) allowed");
		}
		return list.binarySearch((WRAPPERTYPE) key);
	}

	@Override
	public <K> int binarySearch(int index, int len, K key, Comparator<? super K> comparator) {
		if (comparator != null) {
			throw new IllegalArgumentException("Only natural comparator (null) allowed");
		}
		return list.binarySearch(index, len, (WRAPPERTYPE) key);
	}

}
